<div class='head'>
  <div class='in'>
    <input type="text" #name (keyup)="updateName(name.value)" placeholder="{{bill.billName}}" name="billName" ngModel required #name="ngModel" >
  </div>

  <div class='in'>
    <input type="number" #amount (keyup)="updateAmount(amount.value)" placeholder="${{bill.billAmount}}" name="billAmount" ngModel required #amount="ngModel">
  </div>

  <div class='in'>
    Monthly
    <input type="checkbox" #monthly [(ngModel)]="isChecked" (change)="checkValue(isChecked?'A':'B')" name="billAmount">
  </div>

  <input class='delete' type="button" value="X" (click)='removeBill()'>
</div>