.head{
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  height:30px;
}

.middle{
  font-size: 20px;
  text-align:center;
}

.left{
  padding-left: 5px;
  padding-top:5px;
}

.right{
  padding-right: 5px;
  padding-top:5px;
}

.body{
  text-align: center;
}

input{
  border-radius: 6px;
  color:black;
  background-color: red;
  font-size: 15px;
  font-weight:bold;
}