ul{
  list-style-type: none;
  width:100px !important;
}

li{
  width:100%;
  float:left;
  padding-right:15px;
  text-align: center;
}

div{
  height:0;
  position:relative;
}

.container{
  width:100px;
}