.container{
  padding:5px;

  border: 2px solid rgba(0,0,0,.5);
  box-shadow: 0 2px 0 0 rgba(0,0,0,.4);
  color:black;
  border-radius: 5px;
  max-width: 400px;
  margin-top:5px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.header{
  border-bottom:1px solid black;
  margin-bottom:5px;
}