  <div>
    <input type="button" (click)='createIncome()' value='Add Finance'>
  </div>
  <div>
    <input type="button" (click)='createBill()' value='Add Bill'>
  </div>

<div class='finance'>
  <div class='income'>
    <div style='text-align:center'>Income</div>
    <div *ngFor="let income of finance; let i = index">
      <div *ngIf='income.isIncome'>
        <app-finance-item [finance]=income [index]=i (remove)="removeFinance($event)"></app-finance-item>
      </div>
    </div>
  </div>

  <div class='bill'>
    <div style='text-align:center'>Bill</div>
    <div *ngFor="let bill of finance; let i = index">
      <div *ngIf='bill.isBill'>
        <app-finance-item [finance]=bill [index]=i (remove)="removeFinance($event)"></app-finance-item>
      </div>
    </div>
  </div>

  <div style='clear:both'></div>
</div>
  
  <div class='day' *ngFor="let day of days">
      <app-day-item (day)=day></app-day-item>
  </div>