<div class='title'>
  Income
</div>

<form #f="ngForm" class='form' (ngSubmit)="onSubmit(f)" novalidate> 
  <input type="text" placeholder="Name" name="incomeName" ngModel required #name="ngModel">
  <input type="text" name="incomeDate" placeholder="Date" ngModel required #date="ngModel" onfocus="(this.type='date')" onblur="(this.type='text')">
  <input type="number" placeholder="Amount" name="incomeAmount" ngModel required #ammount="ngModel">
  <button>Submit</button>
</form>

<div class='income-item' *ngFor="let income of incomes; let i = index">
    <app-income-item class='income' [id]=i (removeIncomeEvent)="removeIncome($event)" [income]=income></app-income-item>
    <br>
 </div>