<div class='income' *ngIf='finance.isIncome'>
  <div class='delete'>
    <input class='button' type="button" value="X" (click)='removeFinance()'>
  </div>

  <div>
    <input type="text" #name (keyup)="updateName(name.value)" placeholder="{{finance.name}}" ngModel #name="ngModel">
  </div>

  <div>
    <input type="date" #date ngModel #date="ngModel" (change)="updateDate(date.value)" placeholder="${{finance.date}}">
  </div>

  <div>
    <input type="number" #amount ngModel #amount="ngModel" (keyup)="updateAmount(amount.value)" placeholder="${{finance.amount}}">
  </div>

  <div>
        Weekly
    <input type="checkbox" #weekly [(ngModel)]="isWeekly" (change)="checkWeekly(isWeekly?'A':'B')" name="isWeekly">
  </div>

    <div>
        BiWeekly
    <input type="checkbox" #biweekly [(ngModel)]="isBiWeekly" (change)="checkBiWeekly(isBiWeekly?'A':'B')" name="isBiWeekly">
    </div>

    <div>
        Montly
    <input type="checkbox" #monthly [(ngModel)]="isMonthly" (change)="checkMonthly(isMonthly?'A':'B')" name="isMonthly">
    </div>
</div>

<div class='bill' *ngIf='finance.isBill'>
  <div class='delete'>
    <input class='button' type="button" value="X" (click)='removeFinance()'>
  </div>

  <div>
    <input type="text" #name (keyup)="updateName(name.value)" placeholder="{{finance.name}}" ngModel #name="ngModel">
  </div>

  <div>
    <input type="date" #date ngModel #date="ngModel" (change)="updateDate(date.value)" placeholder="${{finance.date}}">
  </div>

  <div>
    <input type="number" #amount ngModel #amount="ngModel" (keyup)="updateAmount(amount.value)" placeholder="${{finance.amount}}">
  </div>
</div>