<div class='container'>
  <div class='info'>
    {{finance.date}}

    <a style="color:green">Up: ${{finance.up}}</a>
    <a style="color:red">Down: ${{finance.down}}</a>

    <div *ngIf='finance.amount > 0'>
      <a style="color:green">Total: ${{finance.amount}}</a>
    </div>

    <div *ngIf='finance.amount <= 0'>
      <a style="color:red">Total: ${{finance.amount}}</a>
    </div>
  </div>

  <div class='buttons'>
    <input type="button" (click)='addBill()' value='Add Bill'>
    <input type="button" (click)='addIncome()' value='Add Income'>
  </div>

  <div class='bill' *ngIf='finance.income.length != 0'>
    <div class='header'>
      Income
    </div>
    <div class='bill-item' *ngFor="let income of finance.income; let i = index">
      <app-income-item class='bill' [id]=i (updateIncomeEvent)="updateIncome($event)" (removeIncomeEvent)="removeIncome($event)" [income]=income></app-income-item>
    </div>
  </div>

  <div class='bill' *ngIf='finance.bill.length != 0'>
    <div class='header'>
      Bills
    </div>
    <div class='bill-item' *ngFor="let bill of finance.bill; let i = index">
      <app-bill-item class='bill' [id]=i (updateBillEvent)="updateBill($event)" (removeBillEvent)="removeBill($event)" [bill]=bill></app-bill-item>
    </div>
  </div>
</div>