<div class='head'>
  <div class='in'>
    <input type="text" #name (keyup)="updateName(name.value)" placeholder="Name" name="incomeName" ngModel required #name="ngModel" >
  </div>

  <div class='in'>
    <input type="number" #amount (keyup)="updateAmount(amount.value)" placeholder="Amount" name="incomeAmount" ngModel required #amount="ngModel">
  </div>

  <div class='check'>
    WK
    <input type="checkbox" #monthly [(ngModel)]="isWeekly" (change)="checkWeekly(isChecked?'A':'B')" name="isWeekly">
    BI
    <input type="checkbox" #monthly [(ngModel)]="isBiWeekly" (change)="checkBiWeekly(isChecked?'A':'B')" name="isBiWeekly">
  </div>

  <input class='delete' type="button" value="X" (click)='removeIncome()'>
</div>