.head{
  display: flex;
  justify-content:space-between;
  max-width: 400px;
  padding: 5px;
  margin:0;
}

.delete{
  border-radius: 6px;
  color:black;
  background-color: red;
  font-size: 15px;
  font-weight:bold;
}

.in{
  width:20px;
}